<p>Welcome <%= @resource.email %>!</p>

<p> Thanks for signing up to Where Am I, please click the link below to confirm your account </p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
